aiofiles==0.3.2
asn1crypto==0.24.0
cffi==1.11.5
cryptography==2.2.2
httptools==0.0.11
idna==2.6
motor==1.2.1
pycparser==2.18
pymongo==3.6.1
sanic==0.7.0
six==1.11.0
ujson==1.35
uvloop==0.9.1
websockets==4.0.1
